<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>URL Error Login</title>
  </head>
  <body>
    <%- include('partials/_header') %>

    <h2>
      You must be logged in, please
      <a href="http://localhost:8080/login">login</a> here. Or register
      <a href="http://localhost:8080/register">here</a>.
    </h2>
  </body>
</html>
